language: php

sudo: false

php:
 - 5.6.18

before_script:
  - composer install

install:
  - wget -c -nc --retry-connrefused --tries=0 https://github.com/satooshi/php-coveralls/releases/download/v1.0.1/coveralls.phar
  - chmod +x coveralls.phar
  - php coveralls.phar --version

script:
  - mkdir -p build/logs
  - php vendor/bin/phpunit -c phpunit.xml.dist
  - ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success:
  - travis_retry php vendor/bin/coveralls
  - travis_retry php coveralls.phar -v

notifications:
   slack: 
   rooms: 
   - gestionnairelivret:yMSyc8ngDZNfDxee1lWJX9NV#developpement
email: false

